@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));



@font-face{

font-family: "Poppins Bold";
src: url('/public/Fonts/Poppins-Bold.ttf') ;
font-display: swap;

}

@font-face{

font-family: "Poppins Medium";
src: url("/public/Fonts/Poppins-Medium.ttf");
font-display: swap;

}

@font-face {
    font-family: "Monsterate Light";
    src: url('/public/Fonts/Monsteraat/static/Montserrat-Light.ttf');
    font-display: swap;
}

@font-face {
    font-family: "Monsterate Regular";
    src: url("/public/Fonts/Monsteraat/static/Montserrat-Medium.ttf");
    font-display: swap;
}




.section {

  @apply visible opacity-100 translate-x-0 transition-all duration-500;

}


.design-elem{

@apply rounded-full bg-linear-to-l from-pink-200/50 to-sky-200/50 
dark:from-blue-300 dark:to-white/50


}


.hide-section{

@apply invisible overflow-y-hidden opacity-0 transition-all duration-500 translate-x-20
max-sm:translate-x-3.5

}


.show-menu{

@apply visible opacity-100 translate-x-2 transition-all duration-500


}

.mobile-menu{

 @apply max-sm:flex max-sm:flex-col max-sm:justify-around max-sm:items-center max-sm:absolute 
 max-sm:top-[79px] max-sm:w-32 max-sm:h-[90%] max-sm:bg-white/15 max-sm:backdrop-blur-md max-sm:z-50 max-sm:rounded-3xl
 max-sm:dark:bg-black/20

}




.alert-modal{

@apply opacity-100 transition-all translate-y-8 duration-300 visible

}


.read{

@apply w-36 h-8 rounded-xl border-[1px] border-sky-300 text-sky-300 cursor-pointer
 dark:border-pink-600 dark:text-pink-600

}

.hide-about{

@apply block invisible h-0 transition-all duration-300 opacity-0 -translate-y-7;

}

.show-about{

@apply block visible h-[70px] transition-all duration-300 opacity-100
max-sm:h-24;

}



@theme{

--animate-show: show 2s ease-in-out;

@keyframes show{

0%{    
  
opacity: 0;

} 100%{

opacity: 1;
    
}}}

.animate-show{

animation: var(--animate-show);
transition: opacity 400ms;

}

@theme{

--animate-service: bottom 3s;

}

@keyframes bottom{

0%{

transform: translateY(60px);
opacity: 0;

}100%{

transform: translateY(0px);
opacity: 1;

}

}

.animate-bottom {
  animation: var(--animate-service);
  transition: all 300ms ;
}




@keyframes welcome {

0%{

  
opacity: 0;
transform: translateX(-100px);

}100%{
 
opacity: 1;
transform:  translateX(0px);  

}}

.animate-welcome{

  animation: welcome 3s ease; 
  transition: all 300ms; 

}

@theme{

--font-PoppinsBold: "Poppins Bold";
--font-PoppinMedium: "Poppins Medium";
--font-MonsterateLight: "Monsterate Light";
--font-MonsterateRegular: "Monsterate Regular"

}

@keyframes design-move{

0%{

  transform: translateY(0px);

}



100%{

  transform: translateY(10px);

}}


.design-move{

animation: design-move 4s infinite alternate ;
transition: all 400ms;

}


